<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chinh sua thong tin thanh phong</title>
</head>
<body>
<h2>THANH PHO</h2>
<form action="" method="POST">
    <p>Ten: <input type="text" value="{ten}" name="ten"></p>
    <p>Quoc gia: <input type="text" value="{quocgia}" name="quocgia"></p>
    <p>Dien tich: <input type="text" value="{dientich}" name="dientich"></p>
    <p>Dan so: <input type="text" value="{danso}" name="danso"></p>
    <p>GDP: <input type="text" value="{gdp}" name="gdp"></p>
    <p>Gioi Thieu: <input type="text" value="{gioithieu}" name="gioithieu"></p>
    <p><button type="submit">Chinh sua</button></a></p>

</form>

</body>
</html>